<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DMC</key>
	<array>
		<dict>
			<key>ios_marks</key>
			<integer>78</integer>
			<key>android_marks</key>
			<integer>88</integer>
			<key>name</key>
			<string>Rajesh</string>
			<key>prn</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>ios_marks</key>
			<integer>98</integer>
			<key>android_marks</key>
			<integer>76</integer>
			<key>name</key>
			<string>Ramu</string>
			<key>prn</key>
			<string>102</string>
		</dict>
		<dict>
			<key>ios_marks</key>
			<integer>55</integer>
			<key>android_marks</key>
			<integer>100</integer>
			<key>name</key>
			<string>Ankur</string>
			<key>prn</key>
			<integer>103</integer>
		</dict>
	</array>
	<key>DAC</key>
	<array>
		<dict>
			<key>oracle_marks</key>
			<integer>87</integer>
			<key>java_marks</key>
			<integer>68</integer>
			<key>name</key>
			<string>Rahul</string>
			<key>prn</key>
			<integer>201</integer>
		</dict>
		<dict>
			<key>oracle_marks</key>
			<integer>75</integer>
			<key>java_marks</key>
			<integer>78</integer>
			<key>name</key>
			<string>Deekshith</string>
			<key>prn</key>
			<integer>202</integer>
		</dict>
		<dict>
			<key>oracle_marks</key>
			<integer>85</integer>
			<key>java_marks</key>
			<integer>90</integer>
			<key>name</key>
			<string>bargav</string>
			<key>prn</key>
			<integer>203</integer>
		</dict>
	</array>
</dict>
</plist>
